grant codeBase "file:/home/gilmoregrills/distributed-systems/lab2/files/" {
		permission java.net.SocketPermission "192.168.1.51/16",  "accept,resolve";
		permission java.util.logging.LoggingPermission "control";
    permission java.util.PropertyPermission "java.rmi.server.hostname", "write";
};
